---
title: "{{ title }}"
---

<extends src="templates/sentiers-llm/layouts/main.html">
  <block name="template">
    <component src="templates/sentiers-llm/components/Header.html"></component>
    <component src="templates/sentiers-llm/components/Hero.html"></component>
    <component src="templates/sentiers-llm/components/IntroSection.html"></component>
    <component src="templates/sentiers-llm/components/ArticleSection.html"></component>
    <component src="templates/sentiers-llm/components/Footer.html"></component>
  </block>
</extends>