<!-- Articles Component -->
<table class="wrapper" role="presentation" cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr>
    <td class="content-block" style="padding: 20px;">
      <div class="body-content">
        <each loop="article in articlesList">
          <h2 style="font-family: &quot;Lora&quot;,serif;margin: 0;padding: 48px 0 0;font-size: 36px;line-height: 1.2em;font-weight: 400;">
            <a href="{{ article.url }}" style="color: #DC4B4B;text-decoration: none;">{{ article.title }}</a>
          </h2>
          <p style="font-size: 18px;line-height: 1.6em;">{{ article.intro }}</p>
          <if condition="article.body">
            <p style="font-size: 18px;line-height: 1.6em;">{{ article.body }}</p>
          </if>
          <if condition="article.quotes">
            <blockquote style="margin: 40px 0;padding: 0 0 0 20px;border-left: 1px solid #B7E2D8;">
              <each loop="quote in article.quotes">
                <p style="font-size: 17px;line-height: 1.6em;font-family: &quot;Lora&quot;,serif;">
                  <if condition="loop.index === 1">
                    <span class="highlight" style="background: #B7E2D8;">{{ quote }}</span>
                  </if>
                  <else>
                    {{ quote }}
                  </else>
                </p>
              </each>
            </blockquote>
          </if>
        </each>
          <p style="font-size: 17px;line-height: 1.6em;font-family: &quot;Lora&quot;,serif;">{{ articles.content }}</p>
        </blockquote>
        <h2 style="font-family: &quot;Lora&quot;,serif;margin: 0;padding: 48px 0 0;font-size: 36px;line-height: 1.2em;font-weight: 400;"><a href="{{ articles.url }}" style="color: #DC4B4B;text-decoration: none;">{{ articles.content }}</a></h2>
        <p style="font-size: 18px;line-height: 1.6em;">{{ articles.content }}</p>
        <blockquote style="margin: 40px 0;padding: 0 0 0 20px;border-left: 1px solid #B7E2D8;">
          <p style="font-size: 17px;line-height: 1.6em;font-family: &quot;Lora&quot;,serif;">{{ articles.content }}</p>
          <p style="font-size: 17px;line-height: 1.6em;font-family: &quot;Lora&quot;,serif;">{{ articles.content }}</p>
        </blockquote>
        <h2 style="font-family: &quot;Lora&quot;,serif;margin: 0;padding: 48px 0 0;font-size: 36px;line-height: 1.2em;font-weight: 400;"><a href="{{ articles.url }}" style="color: #DC4B4B;text-decoration: none;">{{ articles.content }}</a></h2>
        <p style="font-size: 18px;line-height: 1.6em;">{{ articles.content }}</p>
        <blockquote style="margin: 40px 0;padding: 0 0 0 20px;border-left: 1px solid #B7E2D8;">
          <p style="font-size: 17px;line-height: 1.6em;font-family: &quot;Lora&quot;,serif;">{{ articles.content }}</p>
          <p style="font-size: 17px;line-height: 1.6em;font-family: &quot;Lora&quot;,serif;">{{ articles.content }}</p>
        </blockquote>
        <p class="subs" style="font-size: 18px;line-height: 1.6em;padding-top: 30px;text-align: center;color: #999;"><span style="font-style: italic;font-size: .8888em;">{{ articles.content }}<i>{{ articles.content }}</i>{{ articles.content }}</span><br><a href="{{ articles.url }}" style="color: #fff;text-decoration: none;-webkit-appearance: none;-moz-appearance: none;background: #DC4B4B;border: none;border-radius: .3rem;cursor: pointer;display: inline-block;font-size: .8888em;font-weight: 600;line-height: 1;margin: 5px 0 0;padding: 1.175em 1.75em;text-align: center;transition: opacity .15s linear;">{{ articles.content }}</a></p>
        <h2 style="font-family: &quot;Lora&quot;,serif;margin: 0;padding: 48px 0 0;font-size: 36px;line-height: 1.2em;font-weight: 400;">{{ articles.content }}</h2>
        <ul class="miscellany" style="font-size: 18px;margin: 24px 0 0;padding: 0;">
          <li style="margin: 0;padding: 12px 0;list-style: none;border-top: 1px solid #B7E2D8;line-height: 1.4em;"><a href="{{ articles.url }}" style="color: #DC4B4B;text-decoration: none;">{{ articles.content }}</a>{{ articles.content }}<i>{{ articles.content }}</i>
          </li>
          <li style="margin: 0;padding: 12px 0;list-style: none;border-top: 1px solid #B7E2D8;line-height: 1.4em;">{{ articles.content }}<a href="{{ articles.url }}" style="color: #DC4B4B;text-decoration: none;">{{ articles.content }}</a>{{ articles.content }}</li>
          <li style="margin: 0;padding: 12px 0;list-style: none;border-top: 1px solid #B7E2D8;line-height: 1.4em;">{{ articles.content }}<a href="{{ articles.url }}" style="color: #DC4B4B;text-decoration: none;">{{ articles.content }}</a>{{ articles.content }}<i>{{ articles.content }}<span class="highlight" style="background: #B7E2D8;">{{ articles.content }}</span>{{ articles.content }}</i>{{ articles.content }}<a href="{{ articles.url }}" style="color: #DC4B4B;text-decoration: none;">{{ articles.content }}</a>{{ articles.content }}</li>
          <li style="margin: 0;padding: 12px 0;list-style: none;border-top: 1px solid #B7E2D8;line-height: 1.4em;">{{ articles.content }}<a href="{{ articles.url }}" style="color: #DC4B4B;text-decoration: none;">{{ articles.content }}</a>{{ articles.content }}<i>{{ articles.content }}</i>
          </li>
          <li style="margin: 0;padding: 12px 0;list-style: none;border-top: 1px solid #B7E2D8;line-height: 1.4em;">{{ articles.content }}<a href="{{ articles.url }}" style="color: #DC4B4B;text-decoration: none;">{{ articles.content }}</a>{{ articles.content }}<i>{{ articles.content }}</i>
          </li>
          <li style="margin: 0;padding: 12px 0;list-style: none;border-top: 1px solid #B7E2D8;line-height: 1.4em;">{{ articles.content }}<a href="{{ articles.url }}" style="color: #DC4B4B;text-decoration: none;">{{ articles.content }}</a>
          </li>
          <li style="margin: 0;padding: 12px 0;list-style: none;border-top: 1px solid #B7E2D8;line-height: 1.4em;">{{ articles.content }}<a href="{{ articles.url }}" style="color: #DC4B4B;text-decoration: none;">{{ articles.content }}</a>{{ articles.content }}<i>{{ articles.content }}</i>{{ articles.content }}<a href="{{ articles.url }}" style="color: #DC4B4B;text-decoration: none;">{{ articles.content }}</a>{{ articles.content }}</li>
          <li style="margin: 0;padding: 12px 0;list-style: none;border-top: 1px solid #B7E2D8;line-height: 1.4em;"><a href="{{ articles.url }}" style="color: #DC4B4B;text-decoration: none;">{{ articles.content }}</a>{{ articles.content }}<i>{{ articles.content }}</i>{{ articles.content }}<a href="{{ articles.url }}" style="color: #DC4B4B;text-decoration: none;">{{ articles.content }}</a>{{ articles.content }}</li>
        </ul>
      </div>
    </td>
  </tr>
</table>