<!-- Footer Component -->
<table class="wrapper" role="presentation" cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr>
    <td class="content-block" style="padding: 20px;">
      <table border="0" cellpadding="0" cellspacing="0" id="canspamBar">
              <tbody><tr>
                <td align="center" valign="top" style="color:#606060; font-family:Helvetica, Arial, sans-serif; font-size:11px; line-height:150%; padding-right:20px; padding-bottom:5px; padding-left:20px; text-align:center;">{{ footer.content }}<a href="{{ footer.url }}" target="_blank" style="color:#404040 !important;">{{ footer.content }}</a>
                  <br>
                  <a href="{{ footer.url }}" target="_blank" style="color:#404040 !important;"><em>{{ footer.content }}</em></a>{{ footer.content }}<a href="{{ footer.url }}" style="color:#404040 !important;">{{ footer.content }}</a>{{ footer.content }}<a href="{{ footer.url }}" style="color:#404040 !important;">{{ footer.content }}</a>
                  <br>{{ footer.content }}<br>
                  <br>
                </td>
              </tr>
            </tbody></table>
    </td>
  </tr>
</table>