<!-- Header Component -->
<table class="wrapper" role="presentation" cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr>
    <td class="content-block" style="padding: 20px;">
      <div id="header" style="margin-bottom:72px;">
        <img src="{{ header.image.src }}" id="logo" style="max-width: 300px;padding: 0;height: auto;margin: 0;" alt="798de67b-6210-4aba-a40e-2ace5783545e.png">
        <h1 style="font-family: &quot;Lora&quot;,serif;margin: 12px 0 0;padding: 10px 0;float: right;line-height: 100%;font-weight: normal;border-bottom: 1px solid;">{{ header.content }}</h1>
      </div>
    </td>
  </tr>
</table>