<!-- Quotes Component -->
<table class="wrapper" role="presentation" cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr>
    <td class="content-block" style="padding: 20px;">
      <blockquote style="margin: 40px 0;padding: 0 0 0 20px;border-left: 1px solid #B7E2D8;">
          <p style="font-size: 17px;line-height: 1.6em;font-family: &quot;Lora&quot;,serif;">{{ quotes.content }}</p>
          <p style="font-size: 17px;line-height: 1.6em;font-family: &quot;Lora&quot;,serif;">{{ quotes.content }}</p>
          <p style="font-size: 17px;line-height: 1.6em;font-family: &quot;Lora&quot;,serif;"><span class="highlight" style="background: #B7E2D8;">{{ quotes.content }}</span>{{ quotes.content }}</p>
          <p style="font-size: 17px;line-height: 1.6em;font-family: &quot;Lora&quot;,serif;"><span class="highlight" style="background: #B7E2D8;">{{ quotes.content }}</span>{{ quotes.content }}</p>
          <p style="font-size: 17px;line-height: 1.6em;font-family: &quot;Lora&quot;,serif;">{{ quotes.content }}</p>
        </blockquote>
    </td>
  </tr>
</table>