<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>From the Archive</title>
    <style type="text/css">
      div,
      p,
      a,
      li,
      td {
        -webkit-text-size-adjust: none;
      }
      .ReadMsgBody {
        width: 100%;
      }
      .ExternalClass {
        width: 100%;
      }
      .ExternalClass * {
        line-height: 125%
      }
      a[x-apple-data-detectors] {
        color: inherit !important;
        text-decoration: none !important;
        font-size: inherit !important;
        font-family: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
      }
      @media screen and (max-width: 480px) {
        /* general styles */
        body {
          margin: 0px !important;
          padding: 0 !important;
          bgcolor: #ffffff !important;
        }
        .full-width {
          width: 100% !important;
          min-width: 100% !important;
          height: auto !important;
          bgcolor: #ffffff !important;
        }
        .hide {
          display: none !important;
          bgcolor: #ffffff !important;
        }
        .block {
          display: block !important;
        }
        /* content formatting */
        .general-padding {
          padding: 10px 0px 10px 0px !important;
        }
        .hr-image {
          width: 100% !important;
          height: 1px !important;
        }
        .self-logo-image {
          width: 250px !important;
          height: auto !important;
        }
        .image-width-290 {
          width: 290px !important;
          height: auto !important;
        }
        .welcome-header-cell {
          height: auto !important;
        }
        .welcome-header {
          width: 80% !important;
          max-width: 389px !important;
          height: auto !important;
        }
        .main-text-welcome {
          padding: 30px 35px 30px 35px !important;
        }
        .right-block {
          padding: 30px 0px 0px 0px !important;
          width: 100% !important;
          min-width: 100% !important;
          height: auto !important;
        }
        .span-width-300 {
          width: 290px !important;
        }
        .signup-image-cell {
          text-align: center !important;
          padding: 0px 20px 0px 20px !important;
        }
        .gift-image-cell {
          text-align: center !important;
          padding: 20px 0px 0px 0px;
        }
        .height-auto {
          height: auto !important;
          padding: 10px 0px 0px 0px !important;
        }
      }
    </style>
  </head>
  <body bgcolor="#eceef1" leftmargin="0" marginheight="0" marginwidth="0" topmargin="0">

    <!--======================-->

    <!-- parent container table -->

    <!--======================-->
    <table bgcolor="#eceef1" border="0" cellpadding="0" cellspacing="0" class="full-width" style="table-layout:fixed;" width="100%">
      <tr>
        <td bgcolor="#f5f6f6" class="general-padding" valign="top">

          <!--======================-->

          <!-- module 1: logo and preheader -->

          <!--======================-->
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="full-width" style="width:650px;min-width:650px;" width="650">
            <tr>
              <td bgcolor="#f5f6f6" style="font-family: arial,helv,sans-serif; font-size: 10px; color: rgb(35, 31, 32); padding: 0px 0px 26px; text-align: center;" valign="top" width="650">
                <div style="text-align: right;font-family: helvetica, arial,sans-serif;line-height:16px;font-size: 10px; color: #f5f6f6;padding:5px 38px 10px 0px;"><em>Read our &ldquo;Literary Lives&rdquo; collection.</em></div>
                <div style="font-size:30px;line-height:30px;"><a href="http://links.newyorker.mkt4334.com/ctt?kn=10&ms=MTU0MDQ5MTgS1&r=NDQzMzg5NTk0NzI3S0&b=0&j=MTcyMDM2MjQyMwS2&mt=2&rj=MTcyMDM2MjQyMQS2&rt=0" name="logo" target="_blank"><img alt="The New Yorker" border="0" height="35" src='http://contentz.mkt4334.com/ra/2019/14888/04/15404918/Layer_1@2x.png' title="The New Yorker" width="150" /></a></div>
              </td>
            </tr>
          </table>

          <!--======================-->

          <!-- hed text  -->

          <!--======================-->
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="full-width" style="width:650px;min-width:650px;" width="650">
            <tr>
              <td bgcolor="#ffffff" class="main-text-welcome" style="text-align:center; padding: 40px 80px 40px 80px; font-size: 1px; color: #e8e7e7; mso-line-height-rule: exactly; line-height: 1px; border-bottom: 1px solid #e8e7e7;" valign="top" width="650">
                <div style="margin-top:20px;"><a href="http://links.newyorker.mkt4334.com/ctt?kn=16&ms=MTU0MDQ5MTgS1&r=NDQzMzg5NTk0NzI3S0&b=0&j=MTcyMDM2MjQyMwS2&mt=2&rj=MTcyMDM2MjQyMQS2&rt=0" name="hedtext" style="color: #DF3331; text-decoration: none; font-size:40px; line-height:46px; font-family: Georgia, times, serif;">From the Archive</a></div>
                <div style="margin-top:20px;"><a href="http://links.newyorker.mkt4334.com/ctt?kn=16&ms=MTU0MDQ5MTgS1&r=NDQzMzg5NTk0NzI3S0&b=0&j=MTcyMDM2MjQyMwS2&mt=2&rj=MTcyMDM2MjQyMQS2&rt=0" name="hedtext" style="color: #121212; text-decoration: none; font-size:22px; line-height:34px; font-family: Georgia, times, serif;">Highs and lows in pursuit of the literary life.</a></div>
              </td>
            </tr>
          </table>

          <!--======================-->

          <!-- 10px rule  -->

          <!--======================-->
          <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
            <tr>
              <td height="1" style="font-size: 1px; color: #f5f6f6; mso-line-height-rule: exactly; line-height: 1px; border-top: 10px solid #f5f6f6;" width="650">-</td>
            </tr>
          </table>

          <!--======================-->

          <!-- intro text -->

          <!--======================-->
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="full-width" style="width:650px;min-width:650px;" width="650">
            <tr>
              <td bgcolor="#ffffff" class="main-text-welcome" style="text-align:left;padding: 40px 50px 40px 50px;font-size: 1px; color: #e8e7e7; mso-line-height-rule: exactly; line-height: 1px; border-bottom: 1px solid #e8e7e7;border-top: 1px solid #e8e7e7;" valign="top" width="650">
                <div style="color: #121212; text-decoration: none; font-size:18px; line-height:26px; font-family: Georgia, times, serif; "><em>The New Yorker</em> archive presents thematic selections of articles from the magazine&rsquo;s past, highlighting stories that feel as fresh as ever.<br />
                  <br />
                  In our &ldquo;Literary Lives&rdquo; collection, we bring you pieces about the dynamic authors behind literary masterworks. From F. Scott and Zelda Fitzgerald&rsquo;s legendary zeal for dancing and drinking to Zora Neale Hurston&rsquo;s role as a leader of the Harlem Renaissance, these pieces reveal the depths of literary life, in all its ardency and struggle.<br />
                  <br />
                  To enjoy more collections, or to browse through nine decades of <em>The New Yorker</em>, from complete issues to carefully selected favorites, <a href="http://links.newyorker.mkt4334.com/ctt?kn=7&ms=MTU0MDQ5MTgS1&r=NDQzMzg5NTk0NzI3S0&b=0&j=MTcyMDM2MjQyMwS2&mt=2&rj=MTcyMDM2MjQyMQS2&rt=0" name="intro_text" style="text-decoration:none; color: #0773b5;" target="_blank">click here</a>.</div>
              </td>
            </tr>
          </table>

          <!--======================-->

          <!-- 10px rule  -->

          <!--======================-->
          <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
            <tr>
              <td height="1" style="font-size: 1px; color: #f5f6f6; mso-line-height-rule: exactly; line-height: 1px; border-top: 10px solid #f5f6f6;" width="650">-</td>
            </tr>
          </table>

          <!--======================-->

          <!-- 2x horizontal - first row -->

          <!--======================-->
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="full-width" style="width:650px;min-width:650px;" width="650">
            <tr>
              <td bgcolor="#ffffff" style="padding: 25px 0px 0px 0px;font-size: 1px; color: #e8e7e7; mso-line-height-rule: exactly; line-height: 1px; border-top: 1px solid #e8e7e7;font-size: 1px; color: #e8e7e7; mso-line-height-rule: exactly; line-height: 1px; border-bottom: 1px solid #e8e7e7;" valign="top" width="650">

                <!--[if gte mso 9]><table cellpadding="0" cellspacing="0" border="0" width="650"><tr><td valign="top"><![endif]-->
                <table align="left" border="0" cellpadding="0" cellspacing="0" class="full-width" width="325">
                  <tr>
                    <td valign="top" width="325">
                      <table align="center" border="0" cellpadding="0" cellspacing="0" class="full-width" width="325">
                        <tr>
                          <td style="padding:0px 0px 0px 0px;" valign="top" width="325">
                            <div style="padding:0px 25px 10px 25px;text-decoration: none; font-size:14px; line-height:22px; font-family: Georgia, times, serif; text-align:left; margin:0px 0 10px 0; color: #E71B22;letter-spacing:1px; ">A CRITIC AT LARGE</div>
                            <div style="padding:0px 25px 10px 25px;text-decoration: none; font-size:28px; line-height:32px; font-family: Georgia, times, serif; text-align:left; margin:0px 0 10px 0; color: #121212; "><a href="http://links.newyorker.mkt4334.com/ctt?kn=13&ms=MTU0MDQ5MTgS1&r=NDQzMzg5NTk0NzI3S0&b=0&j=MTcyMDM2MjQyMwS2&mt=2&rj=MTcyMDM2MjQyMQS2&rt=0" name="story1_img" style="text-decoration: none; font-size:28px; line-height:32px; font-family: Georgia, times, serif;color: #121212;" target="_blank"><img alt="This Lonesome Place" border="0" class="full-width" src='http://contentz.mkt4334.com/ra/2019/14888/04/15404918/Group%202b@2x.png' width="100%" /></a></div>
                            <div style="padding:0px 20px 0px 25px;text-decoration: none; font-size:13px; line-height:19px; font-family: Georgia, times, serif; text-align:left; margin:0px 0 10px 0; color: #000000;letter-spacing:0px; ">January 29, 2001 Issue</div>
                            <div style="text-decoration: none; font-size:28px; line-height:32px; font-family: Georgia, times, serif; text-align:left; margin:0px 0 10px 0; color: #121212;padding:0px 20px 5px 25px;"><a href="http://links.newyorker.mkt4334.com/ctt?kn=15&ms=MTU0MDQ5MTgS1&r=NDQzMzg5NTk0NzI3S0&b=0&j=MTcyMDM2MjQyMwS2&mt=2&rj=MTcyMDM2MjQyMQS2&rt=0" name="story1_hed" style="text-decoration: none; font-size:28px; line-height:32px; font-family: Georgia, times, serif; text-align:left; margin:0px 0 10px 0; color: #121212;" target="_blank">This Lonesome Place</a></div>
                            <div style="margin:10 0 20px 0px; padding:0px 20px 0px 25px;font-family: Georgia, Times, 'Times New Roman', serif; font-size: 16px; line-height: 22px; color: #121212;">Flannery O&rsquo;Connor on race and religion in the unreconstructed South.</div>
                            <div style="padding:0px 20px 10px 25px;margin:15px 0 15px 0;font-family:Helvetica, Arial, sans-serif; font-size:14px;line-height:22px;color:#333;font-weight:bold;">By Hilton Als</div>
                            <div>
                              <div style="padding:0px 20px 25px 25px;font-family: Georgia, Times, 'Times New Roman', serif; font-size: 16px; line-height: 22px; align:left;color: #121212;">

                                <!--======================-->

                                <!-- button -->

                                <!--======================-->
                                <table border="0" cellpadding="0" cellspacing="0" width="100">
                                  <tr>
                                    <td bgcolor=" #0773b5" height="32" style="font-family:helvetica, arial, sans-serif;font-size:15px;line-height:30px;text-align:center;border-radius:2px;color:#ffffff;font-weight:normal;" valign="middle" width="100"><a href="http://links.newyorker.mkt4334.com/ctt?kn=1&ms=MTU0MDQ5MTgS1&r=NDQzMzg5NTk0NzI3S0&b=0&j=MTcyMDM2MjQyMwS2&mt=2&rj=MTcyMDM2MjQyMQS2&rt=0" name="story1_button" style="text-decoration:none;color:#ffffff;display:block;" target="_blank">Read now</a></td>
                                  </tr>
                                </table>

                                <!--======================-->

                                <!-- end button -->

                                <!--======================-->
                              </div>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>

                <!--[if gte mso 9]></td><td valign="top"><![endif]-->
                <table align="left" border="0" cellpadding="0" cellspacing="0" class="right-block" width="325">
                  <tr>
                    <td valign="top" width="325">
                      <table align="center" border="0" cellpadding="0" cellspacing="0" class="full-width" width="325">
                        <tr>
                          <td style="padding:0px 0px 0px 0px;" valign="top" width="325">
                            <div style="padding:0px 25px 10px 25px;text-decoration: none; font-size:14px; line-height:22px; font-family: Georgia, times, serif; text-align:left; margin:0px 0 10px 0; color: #E71B22;letter-spacing:1px; ">LIFE AND LETTERS</div>
                            <div style="padding:0px 25px 10px 25px;text-decoration: none; font-size:28px; line-height:32px; font-family: Georgia, times, serif; text-align:left; margin:0px 0 10px 0; color: #121212; "><a href="http://links.newyorker.mkt4334.com/ctt?kn=20&ms=MTU0MDQ5MTgS1&r=NDQzMzg5NTk0NzI3S0&b=0&j=MTcyMDM2MjQyMwS2&mt=2&rj=MTcyMDM2MjQyMQS2&rt=0" name="story2_img" style="text-decoration: none; font-size:28px; line-height:32px; font-family: Georgia, times, serif;color: #121212;" target="_blank"><img alt="Ernest Hemingway" border="0" class="full-width" src='http://contentz.mkt4334.com/ra/2019/14888/04/15404918/Group%207b@2x.png' width="100%" /></a></div>
                            <div style="padding:0px 20px 0px 25px;text-decoration: none; font-size:13px; line-height:19px; font-family: Georgia, times, serif; text-align:left; margin:0px 0 10px 0; color: #000000;letter-spacing:0px; ">November 9, 1998 Issue</div>
                            <div style="text-decoration: none; font-size:28px; line-height:32px; font-family: Georgia, times, serif; text-align:left; margin:0px 0 10px 0; color: #121212;padding:0px 20px 5px 25px;"><a href="http://links.newyorker.mkt4334.com/ctt?kn=23&ms=MTU0MDQ5MTgS1&r=NDQzMzg5NTk0NzI3S0&b=0&j=MTcyMDM2MjQyMwS2&mt=2&rj=MTcyMDM2MjQyMQS2&rt=0" name="story2_hed" style="text-decoration: none; font-size:28px; line-height:32px; font-family: Georgia, times, serif; text-align:left; margin:0px 0 10px 0; color: #121212;" target="_blank">Last Words</a></div>
                            <div style="margin:10 0 20px 0px; padding:0px 20px 0px 25px;font-family: Georgia, Times, 'Times New Roman', serif; font-size: 16px; line-height: 22px; color: #121212;">Those Hemingway wrote, and those he didn&rsquo;t.</div>
                            <div style="padding:0px 20px 10px 25px;margin:15px 0 15px 0;font-family:Helvetica, Arial, sans-serif; font-size:14px;line-height:22px;color:#333;font-weight:bold;">By Joan Didion</div>
                            <div>
                              <div style="padding:0px 20px 25px 25px;font-family: Georgia, Times, 'Times New Roman', serif; font-size: 16px; line-height: 22px; align:left;color: #121212;">

                                <!--======================-->

                                <!-- button -->

                                <!--======================-->
                                <table border="0" cellpadding="0" cellspacing="0" width="100">
                                  <tr>
                                    <td bgcolor=" #0773b5" height="32" style="font-family:helvetica, arial, sans-serif;font-size:15px;line-height:30px;text-align:center;border-radius:2px;color:#ffffff;font-weight:normal;" valign="middle" width="100"><a href="http://links.newyorker.mkt4334.com/ctt?kn=2&ms=MTU0MDQ5MTgS1&r=NDQzMzg5NTk0NzI3S0&b=0&j=MTcyMDM2MjQyMwS2&mt=2&rj=MTcyMDM2MjQyMQS2&rt=0" name="story2_button" style="text-decoration:none;color:#ffffff;display:block;" target="_blank">Read now</a></td>
                                  </tr>
                                </table>

                                <!--======================-->

                                <!-- end button -->

                                <!--======================-->
                              </div>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>

                <!--[if gte mso 9]></td><td valign="top"><![endif]-->

                <!--[if gte mso 9]></td></tr></table><![endif]-->
              </td>
            </tr>
          </table>

          <!--======================-->

          <!-- 10px rule  -->

          <!--======================-->
          <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
            <tr>
              <td height="1" style="font-size: 1px; color: #f5f6f6; mso-line-height-rule: exactly; line-height: 1px; border-top: 10px solid #f5f6f6;" width="650">-</td>
            </tr>
          </table>

          <!--======================-->

          <!-- 2x horizontal - first row -->

          <!--======================-->
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="full-width" style="width:650px;min-width:650px;" width="650">
            <tr>
              <td bgcolor="#ffffff" style="padding: 25px 0px 0px 0px;font-size: 1px; color: #e8e7e7; mso-line-height-rule: exactly; line-height: 1px; border-top: 1px solid #e8e7e7;font-size: 1px; color: #e8e7e7; mso-line-height-rule: exactly; line-height: 1px; border-bottom: 1px solid #e8e7e7;" valign="top" width="650">

                <!--[if gte mso 9]><table cellpadding="0" cellspacing="0" border="0" width="650"><tr><td valign="top"><![endif]-->
                <table align="left" border="0" cellpadding="0" cellspacing="0" class="full-width" width="325">
                  <tr>
                    <td valign="top" width="325">
                      <table align="center" border="0" cellpadding="0" cellspacing="0" class="full-width" width="325">
                        <tr>
                          <td style="padding:0px 0px 0px 0px;" valign="top" width="325">
                            <div style="padding:0px 25px 10px 25px;text-decoration: none; font-size:14px; line-height:22px; font-family: Georgia, times, serif; text-align:left; margin:0px 0 10px 0; color: #E71B22;letter-spacing:1px; ">A CRITIC AT LARGE</div>
                            <div style="padding:0px 25px 10px 25px;text-decoration: none; font-size:28px; line-height:32px; font-family: Georgia, times, serif; text-align:left; margin:0px 0 10px 0; color: #121212; "><a href="http://links.newyorker.mkt4334.com/ctt?kn=25&ms=MTU0MDQ5MTgS1&r=NDQzMzg5NTk0NzI3S0&b=0&j=MTcyMDM2MjQyMwS2&mt=2&rj=MTcyMDM2MjQyMQS2&rt=0" name="story3_img" style="text-decoration: none; font-size:28px; line-height:32px; font-family: Georgia, times, serif;color: #121212;" target="_blank"><img alt="Zora Neale Hurston" border="0" class="full-width" src='http://contentz.mkt4334.com/ra/2019/14888/04/15404918/archive1a2.png' width="100%" /></a></div>
                            <div style="padding:0px 20px 0px 25px;text-decoration: none; font-size:13px; line-height:19px; font-family: Georgia, times, serif; text-align:left; margin:0px 0 10px 0; color: #000000;letter-spacing:0px; ">February 17, 1997 Issue</div>
                            <div style="text-decoration: none; font-size:28px; line-height:32px; font-family: Georgia, times, serif; text-align:left; margin:0px 0 10px 0; color: #121212;padding:0px 20px 5px 25px;"><a href="http://links.newyorker.mkt4334.com/ctt?kn=24&ms=MTU0MDQ5MTgS1&r=NDQzMzg5NTk0NzI3S0&b=0&j=MTcyMDM2MjQyMwS2&mt=2&rj=MTcyMDM2MjQyMQS2&rt=0" name="story3_hed" style="text-decoration: none; font-size:28px; line-height:32px; font-family: Georgia, times, serif; text-align:left; margin:0px 0 10px 0; color: #121212;" target="_blank">A Society of One</a></div>
                            <div style="margin:10 0 20px 0px; padding:0px 20px 0px 25px;font-family: Georgia, Times, 'Times New Roman', serif; font-size: 16px; line-height: 22px; color: #121212;">Zora Neale Hurston, American contrarian.</div>
                            <div style="padding:0px 20px 10px 25px;margin:15px 0 15px 0;font-family:Helvetica, Arial, sans-serif; font-size:14px;line-height:22px;color:#333;font-weight:bold;">By Claudia Roth Pierpont</div>
                            <div>
                              <div style="padding:0px 20px 25px 25px;font-family: Georgia, Times, 'Times New Roman', serif; font-size: 16px; line-height: 22px; align:left;color: #121212;">

                                <!--======================-->

                                <!-- button -->

                                <!--======================-->
                                <table border="0" cellpadding="0" cellspacing="0" width="100">
                                  <tr>
                                    <td bgcolor=" #0773b5" height="32" style="font-family:helvetica, arial, sans-serif;font-size:15px;line-height:30px;text-align:center;border-radius:2px;color:#ffffff;font-weight:normal;" valign="middle" width="100"><a href="http://links.newyorker.mkt4334.com/ctt?kn=5&ms=MTU0MDQ5MTgS1&r=NDQzMzg5NTk0NzI3S0&b=0&j=MTcyMDM2MjQyMwS2&mt=2&rj=MTcyMDM2MjQyMQS2&rt=0" name="story3_button" style="text-decoration:none;color:#ffffff;display:block;" target="_blank">Read now</a></td>
                                  </tr>
                                </table>

                                <!--======================-->

                                <!-- end button -->

                                <!--======================-->

                                <!--======================-->
                              </div>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>

                <!--[if gte mso 9]></td><td valign="top"><![endif]-->
                <table align="left" border="0" cellpadding="0" cellspacing="0" class="right-block" width="325">
                  <tr>
                    <td valign="top" width="325">
                      <table align="center" border="0" cellpadding="0" cellspacing="0" class="full-width" width="325">
                        <tr>
                          <td style="padding:0px 0px 0px 0px;" valign="top" width="325">
                            <div style="padding:0px 25px 10px 25px;text-decoration: none; font-size:14px; line-height:22px; font-family: Georgia, times, serif; text-align:left; margin:0px 0 10px 0; color: #E71B22;letter-spacing:1px; ">PROFILES</div>
                            <div style="padding:0px 25px 10px 25px;text-decoration: none; font-size:28px; line-height:32px; font-family: Georgia, times, serif; text-align:left; margin:0px 0 10px 0; color: #121212; "><a href="http://links.newyorker.mkt4334.com/ctt?kn=6&ms=MTU0MDQ5MTgS1&r=NDQzMzg5NTk0NzI3S0&b=0&j=MTcyMDM2MjQyMwS2&mt=2&rj=MTcyMDM2MjQyMQS2&rt=0" name="story4_img" style="text-decoration: none; font-size:28px; line-height:32px; font-family: Georgia, times, serif;color: #121212;" target="_blank"><img alt="Edith Wharton" border="0" class="full-width" src='http://contentz.mkt4334.com/ra/2019/14888/04/15404918/archive4.png' width="100%" /></a></div>
                            <div style="padding:0px 20px 0px 25px;text-decoration: none; font-size:13px; line-height:19px; font-family: Georgia, times, serif; text-align:left; margin:0px 0 10px 0; color: #000000;letter-spacing:0px; ">March 2, 1929 Issue</div>
                            <div style="text-decoration: none; font-size:28px; line-height:32px; font-family: Georgia, times, serif; text-align:left; margin:0px 0 10px 0; color: #121212;padding:0px 20px 5px 25px;"><a href="http://links.newyorker.mkt4334.com/ctt?kn=3&ms=MTU0MDQ5MTgS1&r=NDQzMzg5NTk0NzI3S0&b=0&j=MTcyMDM2MjQyMwS2&mt=2&rj=MTcyMDM2MjQyMQS2&rt=0" name="story4_hed" style="text-decoration: none; font-size:28px; line-height:32px; font-family: Georgia, times, serif; text-align:left; margin:0px 0 10px 0; color: #121212;" target="_blank">Dearest Edith</a></div>
                            <div style="margin:10 0 20px 0px; padding:0px 20px 0px 25px;font-family: Georgia, Times, 'Times New Roman', serif; font-size: 16px; line-height: 22px; color: #121212;">Edith Wharton was a society insider&mdash;until she started writing about her friends.</div>
                            <div style="padding:0px 20px 10px 25px;margin:15px 0 15px 0;font-family:Helvetica, Arial, sans-serif; font-size:14px;line-height:22px;color:#333;font-weight:bold;">By Janet Flanner</div>
                            <div>
                              <div style="padding:0px 20px 25px 25px;font-family: Georgia, Times, 'Times New Roman', serif; font-size: 16px; line-height: 22px; align:left;color: #121212;">

                                <!--======================-->

                                <!-- button -->

                                <!--======================-->
                                <table border="0" cellpadding="0" cellspacing="0" width="100">
                                  <tr>
                                    <td bgcolor=" #0773b5" height="32" style="font-family:helvetica, arial, sans-serif;font-size:15px;line-height:30px;text-align:center;border-radius:2px;color:#ffffff;font-weight:normal;" valign="middle" width="100"><a href="http://links.newyorker.mkt4334.com/ctt?kn=21&ms=MTU0MDQ5MTgS1&r=NDQzMzg5NTk0NzI3S0&b=0&j=MTcyMDM2MjQyMwS2&mt=2&rj=MTcyMDM2MjQyMQS2&rt=0" name="story4_button" style="text-decoration:none;color:#ffffff;display:block;" target="_blank">Read now</a></td>
                                  </tr>
                                </table>

                                <!--======================-->

                                <!-- end button -->

                                <!--======================-->

                                <!--======================-->
                              </div>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>

                <!--[if gte mso 9]></td><td valign="top"><![endif]-->

                <!--[if gte mso 9]></td></tr></table><![endif]-->
              </td>
            </tr>
          </table>

          <!--======================-->

          <!-- 10px rule  -->

          <!--======================-->
          <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
            <tr>
              <td height="1" style="font-size: 1px; color: #f5f6f6; mso-line-height-rule: exactly; line-height: 1px; border-top: 10px solid #f5f6f6;" width="650">-</td>
            </tr>
          </table>

          <!--======================-->

          <!-- 2x horizontal - first row -->

          <!--======================-->
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="full-width" style="width:650px;min-width:650px;" width="650">
            <tr>
              <td bgcolor="#ffffff" style="padding: 25px 0px 0px 0px;font-size: 1px; color: #e8e7e7; mso-line-height-rule: exactly; line-height: 1px; border-top: 1px solid #e8e7e7;font-size: 1px; color: #e8e7e7; mso-line-height-rule: exactly; line-height: 1px; border-bottom: 1px solid #e8e7e7;" valign="top" width="650">

                <!--[if gte mso 9]><table cellpadding="0" cellspacing="0" border="0" width="650"><tr><td valign="top"><![endif]-->
                <table align="left" border="0" cellpadding="0" cellspacing="0" class="full-width" width="325">
                  <tr>
                    <td valign="top" width="325">
                      <table align="center" border="0" cellpadding="0" cellspacing="0" class="full-width" width="325">
                        <tr>
                          <td style="padding:0px 0px 0px 0px;" valign="top" width="325">
                            <div style="padding:0px 25px 10px 25px;text-decoration: none; font-size:14px; line-height:22px; font-family: Georgia, times, serif; text-align:left; margin:0px 0 10px 0; color: #E71B22;letter-spacing:1px; ">THE ARTS</div>
                            <div style="padding:0px 25px 10px 25px;text-decoration: none; font-size:28px; line-height:32px; font-family: Georgia, times, serif; text-align:left; margin:0px 0 10px 0; color: #121212; "><a href="http://links.newyorker.mkt4334.com/ctt?kn=11&ms=MTU0MDQ5MTgS1&r=NDQzMzg5NTk0NzI3S0&b=0&j=MTcyMDM2MjQyMwS2&mt=2&rj=MTcyMDM2MjQyMQS2&rt=0" name="story5_img" style="text-decoration: none; font-size:28px; line-height:32px; font-family: Georgia, times, serif;color: #121212;" target="_blank"><img alt="Henry James" border="0" class="full-width" src='http://contentz.mkt4334.com/ra/2019/14888/04/15404918/Group%202a@2x.png' width="100%" /></a></div>
                            <div style="padding:0px 20px 0px 25px;text-decoration: none; font-size:13px; line-height:19px; font-family: Georgia, times, serif; text-align:left; margin:0px 0 10px 0; color: #000000;letter-spacing:0px; ">November 7, 1959 Issue</div>
                            <div style="text-decoration: none; font-size:28px; line-height:32px; font-family: Georgia, times, serif; text-align:left; margin:0px 0 10px 0; color: #121212;padding:0px 20px 5px 25px;"><a href="http://links.newyorker.mkt4334.com/ctt?kn=8&ms=MTU0MDQ5MTgS1&r=NDQzMzg5NTk0NzI3S0&b=0&j=MTcyMDM2MjQyMwS2&mt=2&rj=MTcyMDM2MjQyMQS2&rt=0" name="story5_hed" style="text-decoration: none; font-size:28px; line-height:32px; font-family: Georgia, times, serif; text-align:left; margin:0px 0 10px 0; color: #121212;" target="_blank">The Wings of Henry James</a></div>
                            <div style="margin:10 0 20px 0px; padding:0px 20px 0px 25px;font-family: Georgia, Times, 'Times New Roman', serif; font-size: 16px; line-height: 22px; color: #121212;">How &ldquo;The Wings of the Dove&rdquo; shaped a whole generation of writers, critics, playwrights, producers, and publishers.</div>
                            <div style="padding:0px 20px 10px 25px;margin:15px 0 15px 0;font-family:Helvetica, Arial, sans-serif; font-size:14px;line-height:22px;color:#333;font-weight:bold;">By James Thurber</div>
                            <div>
                              <div style="padding:0px 20px 25px 25px;font-family: Georgia, Times, 'Times New Roman', serif; font-size: 16px; line-height: 22px; align:left;color: #121212;">

                                <!--======================-->

                                <!-- button -->

                                <!--======================-->
                                <table border="0" cellpadding="0" cellspacing="0" width="100">
                                  <tr>
                                    <td bgcolor=" #0773b5" height="32" style="font-family:helvetica, arial, sans-serif;font-size:15px;line-height:30px;text-align:center;border-radius:2px;color:#ffffff;font-weight:normal;" valign="middle" width="100"><a href="http://links.newyorker.mkt4334.com/ctt?kn=18&ms=MTU0MDQ5MTgS1&r=NDQzMzg5NTk0NzI3S0&b=0&j=MTcyMDM2MjQyMwS2&mt=2&rj=MTcyMDM2MjQyMQS2&rt=0" name="story5_button" style="text-decoration:none;color:#ffffff;display:block;" target="_blank">Read now</a></td>
                                  </tr>
                                </table>

                                <!--======================-->

                                <!-- end button -->

                                <!--======================-->

                                <!--======================-->
                              </div>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>

                <!--[if gte mso 9]></td><td valign="top"><![endif]-->
                <table align="left" border="0" cellpadding="0" cellspacing="0" class="right-block" width="325">
                  <tr>
                    <td valign="top" width="325">
                      <table align="center" border="0" cellpadding="0" cellspacing="0" class="full-width" width="325">
                        <tr>
                          <td style="padding:0px 0px 0px 0px;" valign="top" width="325">
                            <div style="padding:0px 25px 10px 25px;text-decoration: none; font-size:14px; line-height:22px; font-family: Georgia, times, serif; text-align:left; margin:0px 0 10px 0; color: #E71B22;letter-spacing:1px; ">PROFILES</div>
                            <div style="padding:0px 25px 10px 25px;text-decoration: none; font-size:28px; line-height:32px; font-family: Georgia, times, serif; text-align:left; margin:0px 0 10px 0; color: #121212; "><a href="http://links.newyorker.mkt4334.com/ctt?kn=17&ms=MTU0MDQ5MTgS1&r=NDQzMzg5NTk0NzI3S0&b=0&j=MTcyMDM2MjQyMwS2&mt=2&rj=MTcyMDM2MjQyMQS2&rt=0" name="story6_img" style="text-decoration: none; font-size:28px; line-height:32px; font-family: Georgia, times, serif;color: #121212;" target="_blank"><img alt="F. Scott Fitzgerald" border="0" class="full-width" src='http://contentz.mkt4334.com/ra/2019/14888/04/15404918/archive6.png' width="100%" /></a></div>
                            <div style="padding:0px 20px 0px 25px;text-decoration: none; font-size:13px; line-height:19px; font-family: Georgia, times, serif; text-align:left; margin:0px 0 10px 0; color: #000000;letter-spacing:0px; ">April 17, 1926 Issue</div>
                            <div style="text-decoration: none; font-size:28px; line-height:32px; font-family: Georgia, times, serif; text-align:left; margin:0px 0 10px 0; color: #121212;padding:0px 20px 5px 25px;"><a href="http://links.newyorker.mkt4334.com/ctt?kn=12&ms=MTU0MDQ5MTgS1&r=NDQzMzg5NTk0NzI3S0&b=0&j=MTcyMDM2MjQyMwS2&mt=2&rj=MTcyMDM2MjQyMQS2&rt=0" name="story6_hed" style="text-decoration: none; font-size:28px; line-height:32px; font-family: Georgia, times, serif; text-align:left; margin:0px 0 10px 0; color: #121212;" target="_blank">That Sad Young Man</a></div>
                            <div style="margin:10 0 20px 0px; padding:0px 20px 0px 25px;font-family: Georgia, Times, 'Times New Roman', serif; font-size: 16px; line-height: 22px; color: #121212;">All was quiet on the Riviera, and then the Fitzgeralds arrived.</div>
                            <div style="padding:0px 20px 10px 25px;margin:15px 0 15px 0;font-family:Helvetica, Arial, sans-serif; font-size:14px;line-height:22px;color:#333;font-weight:bold;">By James C. Mosher</div>
                            <div>
                              <div style="padding:0px 20px 25px 25px;font-family: Georgia, Times, 'Times New Roman', serif; font-size: 16px; line-height: 22px; align:left;color: #121212;">

                                <!--======================-->

                                <!-- button -->

                                <!--======================-->
                                <table border="0" cellpadding="0" cellspacing="0" width="100">
                                  <tr>
                                    <td bgcolor=" #0773b5" height="32" style="font-family:helvetica, arial, sans-serif;font-size:15px;line-height:30px;text-align:center;border-radius:2px;color:#ffffff;font-weight:normal;" valign="middle" width="100"><a href="http://links.newyorker.mkt4334.com/ctt?kn=22&ms=MTU0MDQ5MTgS1&r=NDQzMzg5NTk0NzI3S0&b=0&j=MTcyMDM2MjQyMwS2&mt=2&rj=MTcyMDM2MjQyMQS2&rt=0" name="story6_button" style="text-decoration:none;color:#ffffff;display:block;" target="_blank">Read now</a></td>
                                  </tr>
                                </table>

                                <!--======================-->

                                <!-- end button -->

                                <!--======================-->

                                <!--======================-->
                              </div>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>

                <!--[if gte mso 9]></td><td valign="top"><![endif]-->

                <!--[if gte mso 9]></td></tr></table><![endif]-->
              </td>
            </tr>
          </table>

          <!--======================-->

          <!-- 10px rule  -->

          <!--======================-->
          <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
            <tr>
              <td height="1" style="font-size: 1px; color: #f5f6f6; mso-line-height-rule: exactly; line-height: 1px; border-top: 10px solid #f5f6f6;" width="650">-</td>
            </tr>
          </table>

          <!--======================-->

          <!-- bottom text -->

          <!--======================-->
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="full-width" style="width:650px;min-width:650px;" width="650">
            <tr>
              <td bgcolor="#ffffff" class="main-text-welcome" style="text-align:left;padding: 0px 45px 0px 45px;font-size: 1px; color: #e8e7e7; mso-line-height-rule: exactly; line-height: 1px; border-bottom: 1px solid #e8e7e7;font-size: 1px; color: #e8e7e7; mso-line-height-rule: exactly; line-height: 1px; border-top: 1px solid #e8e7e7;" valign="top" width="650">
                <div style="color: #000000; text-decoration: none; text-align: center;font-size:22px; line-height:26px; font-family: Georgia, times, serif;padding:40px 0px 40px 0px; ">Our full archive awaits.</div>

                <!--======================-->

                <!-- button -->

                <!--======================-->
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="image-width-290" style="padding: 0px 0px 40px 0px;" width="290">
                  <tr>
                    <td bgcolor="#DF3331" height="48" style="font-family:helvetica, arial, sans-serif;font-size:14px;line-height:30px;padding:0px 17px 00px 17px;text-align:center;border-radius:2px;color:#ffffff;font-weight:bold;" valign="middle" width="100%"><a href="http://links.newyorker.mkt4334.com/ctt?kn=4&ms=MTU0MDQ5MTgS1&r=NDQzMzg5NTk0NzI3S0&b=0&j=MTcyMDM2MjQyMwS2&mt=2&rj=MTcyMDM2MjQyMQS2&rt=0" name="explore_cta" style="text-decoration:none;color:#ffffff;display:block;" target="_blank">Explore now</a></td>
                  </tr>
                </table>

                <!--======================-->

                <!-- end button -->

                <!--======================-->
              </td>
            </tr>
          </table>

          <!--======================-->

          <!-- 10px rule  -->

          <!--======================-->
          <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
            <tr>
              <td height="1" style="font-size: 1px; color: #f5f6f6; mso-line-height-rule: exactly; line-height: 1px; border-top: 10px solid #f5f6f6;" width="650">-</td>
            </tr>
          </table>

          <!--======================-->

          <!-- footer text-->

          <!--======================-->
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="full-width" style="width:650px;min-width:650px;" width="650">
            <tr>
              <td bgcolor="#f5f6f6" style="color: #333333; text-decoration: none; font-size:13px; line-height:20px; font-family: Georgia, times, serif; text-align:center; padding: 30px 20px 20px 20px;" valign="top" width="650"><a href="#" name="view_in_browser" style="color: #333333; text-decoration: underline; " target="_blank" xt="SPCLICKTOVIEW">View this email in your browser.</a><br />
                <br />
                You received this email because you are a subscriber to <em>The New Yorker</em>. Question about your subscription? Contact <a href="http://links.newyorker.mkt4334.com/ctt?kn=19&ms=MTU0MDQ5MTgS1&r=NDQzMzg5NTk0NzI3S0&b=0&j=MTcyMDM2MjQyMwS2&mt=2&rj=MTcyMDM2MjQyMQS2&rt=0" name="subscriptions_newyorker_com_pubs_N3" style="color: #333333; text-decoration: underline;">Customer Care</a>.<br />
                <br />
                View our <a href="http://links.newyorker.mkt4334.com/ctt?kn=14&ms=MTU0MDQ5MTgS1&r=NDQzMzg5NTk0NzI3S0&b=0&j=MTcyMDM2MjQyMwS2&mt=2&rj=MTcyMDM2MjQyMQS2&rt=0" name="privacypolicy" style="color: #333333; text-decoration: underline;" target="_blank">Privacy Policy</a><br />
                <a href="#" name="unsubscribe" style="color: #333333; text-decoration: underline;" target="_blank">Unsubscribe</a><br />
                <br />
                Sent from Condé Nast, 1 World Trade Center, New York, NY 10007, attn: Email Coordinator<br />
                <br />
                Copyright &copy; 2018 Condé Nast. All rights reserved.</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <IMG src="http://links.newyorker.mkt4334.com/open/log/15404918/NDQzMzg5NTk0NzI3S0/0/MTcyMDM2MjQyMwS2/2/MTcyMDM2MjQyMQS2/0" style="display: none">
  </body>
</html>