---
title: "{{ title }}"
---

<extends src="templates/sentiers-template/layouts/main.html">
  <block name="template">
    
    <component src="templates/sentiers-template/components/SentiersHeader.html"></component>
    
    <component src="templates/sentiers-template/components/SentiersHeaderContent.html"></component>
    
    <component src="templates/sentiers-template/components/SentiersHeaderPrompt.html"></component>
    
    <component src="templates/sentiers-template/components/SentiersFeaturedImage.html"></component>
    
    {% for article in articles %}
    <component src="templates/sentiers-template/components/SentiersArticle.html" locals='{"article": article}'></component>
    {% endfor %}
    
    <component src="templates/sentiers-template/components/SentiersMiscellany.html"></component>
    
    <component src="templates/sentiers-template/components/SentiersFooter.html"></component>
    
  </block>
</extends>