<!-- CTA Component -->
<!-- Call-to-action for membership conversion -->
<!-- Variables: message, button_text, button_url -->

<table role="presentation" cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr>
    <td style="padding: 20px;">
      <p class="subs" style="font-size: 18px;line-height: 1.6em;padding-top: 30px;text-align: center;color: #999;">
  <span style="font-style: italic;font-size: .8888em;">{{ message }}</span><br>
  <a href="{{ button_url }}" style="color: #fff;text-decoration: none;-webkit-appearance: none;-moz-appearance: none;background: #DC4B4B;border: none;border-radius: .3rem;cursor: pointer;display: inline-block;font-size: .8888em;font-weight: 600;line-height: 1;margin: 5px 0 0;padding: 1.175em 1.75em;text-align: center;transition: opacity .15s linear;">{{ button_text }}</a>
</p>
    </td>
  </tr>
</table>
