<!-- Footer Component -->
<!-- Newsletter footer with about information and unsubscribe -->
<!-- Variables: newsletter_name, curator_name, curator_url, about_text, subscriber_email, why_received_url, unsubscribe_url, preferences_url, company_name, address_line1, address_line2, city_state_zip, country -->

<div id="footer" style="margin-top: 72px;">
  <p style="font-size: 18px;line-height: 1.6em;"><strong class="caps" style="text-transform: uppercase;font-weight: bold;letter-spacing: .05em;font-size: 85%;">About →</strong> <em>{{ newsletter_name }}</em> is a weekly newsletter curated by me, <a href="{{ curator_url }}" style="color: #DC4B4B;text-decoration: none;">{{ curator_name }}</a>. {{ about_text }}</p>
</div>
<center>
  <br><br><br><br><br><br>
  <table border="0" cellpadding="0" cellspacing="0" width="100%" id="canspamBarWrapper" style="background-color:#FFFFFF; border-top:1px solid #E5E5E5;">
    <tr>
      <td align="center" valign="top" style="padding-top:20px; padding-bottom:20px;">
        <table border="0" cellpadding="0" cellspacing="0" id="canspamBar">
          <tr>
            <td align="center" valign="top" style="color:#606060; font-family:Helvetica, Arial, sans-serif; font-size:11px; line-height:150%; padding-right:20px; padding-bottom:5px; padding-left:20px; text-align:center;">
              This email was sent to <a href="mailto:{{ subscriber_email }}" target="_blank" style="color:#404040 !important;">{{ subscriber_email }}</a><br>
              <a href="{{ why_received_url }}" target="_blank" style="color:#404040 !important;"><em>why did I get this?</em></a>&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="{{ unsubscribe_url }}" style="color:#404040 !important;">unsubscribe from this list</a>&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="{{ preferences_url }}" style="color:#404040 !important;">update subscription preferences</a><br>
              {{ company_name }} &middot; {{ address_line1 }} &middot; {{ address_line2 }} &middot; {{ city_state_zip }} &middot; {{ country }}<br><br>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</center>
