---
title: "{{ title }}"
---

<extends src="templates/dense-discovery-template/layouts/main.html">
  <block name="template">
    <component src="templates/dense-discovery-template/components/Header.html"></component>
    <component src="templates/dense-discovery-template/components/Intro.html"></component>
    <component src="templates/dense-discovery-template/components/Sponsor.html"></component>
    <component src="templates/dense-discovery-template/components/AppsAndSites.html"></component>
  </block>
</extends>