---
title: "{{ title }}"
---

<extends src="templates/sentiers-reliable/layouts/main.html">
  <block name="template">
    
    <component src="templates/sentiers-reliable/components/Header.html"></component>
    
    <component src="templates/sentiers-reliable/components/HeaderContent.html"></component>
    
    <component src="templates/sentiers-reliable/components/FeaturedImage.html"></component>
    
    <component src="templates/sentiers-reliable/components/Articles.html"></component>
    
    <component src="templates/sentiers-reliable/components/Blockquotes.html"></component>
    
    <component src="templates/sentiers-reliable/components/Miscellany.html"></component>
    
    <component src="templates/sentiers-reliable/components/Footer.html"></component>
    
    <component src="templates/sentiers-reliable/components/Quotes.html"></component>
    
  </block>
</extends>