---
title: "{{ title }}"
preheader: "{{ preheader || 'Email preview text' }}"
---

<extends src="templates/wirecutter-v2/layouts/main.html">
  <block name="template">
    
    <component src="templates/wirecutter-v2/components/Header.html"></component>

    <component src="templates/wirecutter-v2/components/FeaturedArticle.html"></component>

    <component src="templates/wirecutter-v2/components/Article.html"></component>

    <component src="templates/wirecutter-v2/components/ProductShowcase.html"></component>

    <component src="templates/wirecutter-v2/components/Footer.html"></component>
    
  </block>
</extends>
