<!-- Footer Component -->
<!-- Purpose: Provides subscription and contact information -->
<!-- Variables: footerText, membershipLink -->

<div class="content-block" style="padding: 20px;">
  <!-- <p class='subs'>...</p> -->
  <div id="footer" style="margin-top: 72px;">
    <p class="subs" style="padding-top: 30px; text-align: center; color: #999; font-size: 18px; line-height: 1.6em;">
      <if condition="footerText">
        <span style="font-style: italic; font-size: 0.8888em;">{{ footerText }}</span><br>
      <else>
        <span style="font-style: italic; font-size: 0.8888em;">Thanks for reading!</span><br>
      </if>
      <if condition="membershipLink">
        <a href="{{ membershipLink }}" style="color: #fff; text-decoration: none; background: #DC4B4B; border: none; border-radius: 0.3rem; cursor: pointer; display: inline-block; font-size: 0.8888em; font-weight: 600; line-height: 1; margin: 5px 0 0; padding: 1.175em 1.75em; text-align: center;">Join now</a>
      <elseif condition="footer.website">
        <a href="{{ footer.website }}" style="color: #fff; text-decoration: none; background: #DC4B4B; border: none; border-radius: 0.3rem; cursor: pointer; display: inline-block; font-size: 0.8888em; font-weight: 600; line-height: 1; margin: 5px 0 0; padding: 1.175em 1.75em; text-align: center;">Visit Website</a>
      <else>
        <a href="#" style="color: #fff; text-decoration: none; background: #DC4B4B; border: none; border-radius: 0.3rem; cursor: pointer; display: inline-block; font-size: 0.8888em; font-weight: 600; line-height: 1; margin: 5px 0 0; padding: 1.175em 1.75em; text-align: center;">Join now</a>
      </if>
    </p>
  </div>
</div>