<!-- Miscellany Section Component -->
<table class="wrapper" role="presentation" cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr>
    <td class="content-block" style="padding: 0; margin: 0 auto; max-width: 600px; text-align: left;">
      <h2 style="font-family: 'Lora',serif;margin: 0;padding: 48px 0 0;font-size: 36px;line-height: 1.2em;font-weight: 400;">Miscellany</h2>
      <ul class="miscellany" style="font-size: 18px;margin: 24px 0 0;padding: 0;">
        {% for item in miscellany %}
        <li style="margin: 0;padding: 12px 0;list-style: none;border-top: 1px solid #B7E2D8;line-height: 1.4em;">
          <a href="{{ item.url }}" style="color: #DC4B4B;text-decoration: none;">{{ item.title }}</a>. 
          <i>{{ item.description }}</i>
        </li>
        {% endfor %}
      </ul>
    </td>
  </tr>
</table>