<!-- Sentiers Header Component -->
<table class="wrapper" role="presentation" cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr>
    <td class="content-block" style="padding: 0; margin: 0 auto; max-width: 600px; text-align: left;">
      <p style="margin-bottom: 60px;text-align: right;font-size: 12px;line-height: 1.6em;" class="viewin">
        <a href="{{ header.viewBrowserUrl }}" style="text-decoration: underline;color: #999;">View in browser or share</a>
      </p>
      <div id="header" style="margin-bottom:72px;">
        <img src="{{ header.logo.src }}" id="logo" style="max-width: 300px;padding: 0;height: auto;margin: 0;" alt="{{ header.logo.alt }}">
        <h1 style="font-family: 'Lora',serif;margin: 12px 0 0;padding: 10px 0;float: right;line-height: 100%;font-weight: normal;border-bottom: 1px solid;">{{ header.issueNumber }}</h1>
      </div>
    </td>
  </tr>
</table>