---
title: "{{ title }}"
---

<extends src="templates/sentiers-enhanced/layouts/main.html">
  <block name="template">
    <component src="templates/sentiers-enhanced/components/Header.html"></component>
    <component src="templates/sentiers-enhanced/components/Intro.html"></component>
    <component src="templates/sentiers-enhanced/components/Article.html"></component>
    <component src="templates/sentiers-enhanced/components/ImageWithCaption.html"></component>
    <component src="templates/sentiers-enhanced/components/Footer.html"></component>
  </block>
</extends>