<!-- Cta Component -->
<table class="wrapper" role="presentation" cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr>
    <td class="content-block" style="padding: 20px;">
      <a href="{{ cta.url }}" style="color: #fff;text-decoration: none;-webkit-appearance: none;-moz-appearance: none;background: #DC4B4B;border: none;border-radius: .3rem;cursor: pointer;display: inline-block;font-size: .8888em;font-weight: 600;line-height: 1;margin: 5px 0 0;padding: 1.175em 1.75em;text-align: center;transition: opacity .15s linear;">Join now</a>
    </td>
  </tr>
</table>