<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="email=no">
  <meta name="x-apple-disable-message-reformatting">
  <style type="text/css">
    @import url("https://static.mailerlite.com/assets/plugins/groot/modules/includes/groot_fonts/import.css?version=1654523");
  </style>
  <if condition="globalStyles && globalStyles.embedded">
  <style type="text/css">
    {{{ globalStyles.embedded }}}
  </style>
  </if>
  <title>{{ title }}</title>
  <meta name="robots" content="noindex, nofollow">
</head>
<body class="mlBodyBackground" style="padding: 0; margin: 0; -webkit-font-smoothing:antialiased; background-color:#FFFCF2; -webkit-text-size-adjust:none;">
  <div role="article" aria-roledescription="email" aria-label="{{ title }}">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFCF2" class="mainTable mlBodyBackground" dir="ltr" background="">
      <tr>
        <td class="mlTemplateContainer" align="center">
          <table cellpadding="0" cellspacing="0" border="0" align="center" width="640" style="width: 640px; min-width: 640px;" class="mobileHide">
            <tr>
              <td align="center">
                <table cellpadding="0" cellspacing="0" border="0" align="center" width="640" style="width: 640px; min-width: 640px;" class="mlContentTable">
                  <tr>
                    <td colspan="2" height="20"></td>
                  </tr>
                  <tr>
                    <td align="left" style="font-family: Helvetica, sans-serif; color: #111111; font-size: 12px; line-height: 18px;"></td>
                    <td align="right" style="font-family: Helvetica, sans-serif; color: #111111; font-size: 12px; line-height: 18px;">
                      <a style="color: #111111;" href="#" target="_blank">View in browser</a>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" height="20"></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="mlContentTable" width="640">
            <tr>
              <td>
                <block name="template"></block>
              </td>
            </tr>
          </table>
          <table cellpadding="0" cellspacing="0" border="0" align="center" width="640" style="width: 640px; min-width: 640px;" class="mlContentTable">
            <tr>
              <td height="40" class="spacingHeight-20"></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>