<!-- AnimatedHero Component -->
<!-- Animated GIF hero section for visual engagement -->
<!-- Variables: none -->

<table align="center" border="0" bgcolor="#fffcf2" class="mlContentTable mlContentTableDefault" cellpadding="0" cellspacing="0" width="640">
  <tr>
    <td class="mlContentTableCardTd">
      <table align="center" bgcolor="#fffcf2" border="0" cellpadding="0" cellspacing="0" class="mlContentTable ml-default" style="width: 640px; min-width: 640px;" width="640">
        <tr>
          <td>
            <table role="presentation" cellpadding="0" cellspacing="0" border="0" align="center" width="640" style="width: 640px; min-width: 640px;" class="mlContentTable">
              <tr>
                <td height="20" class="spacingHeight-20" style="line-height: 20px; min-height: 20px;"></td>
              </tr>
            </table>
            <table role="presentation" cellpadding="0" cellspacing="0" border="0" align="center" width="640" style="width: 640px; min-width: 640px;" class="mlContentTable">
              <tr>
                <td align="center" style="padding: 0px 0px;" class="">
                  <table role="presentation" cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
                    <tr>
                      <td align="center" id="imageBlock-6">
                        <img src="{{ hero.gifUrl }}" border="0" alt="" width="640" style="display: block;">
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <table role="presentation" cellpadding="0" cellspacing="0" border="0" align="center" width="640" style="width: 640px; min-width: 640px;" class="mlContentTable">
              <tr>
                <td height="40" class="spacingHeight-40" style="line-height: 40px; min-height: 40px;"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
