<!-- Editorial Component -->
<!-- Editor's introduction and issue overview with centered blue text -->
<!-- Variables: none -->

<table align="center" border="0" bgcolor="#fffcf2" class="mlContentTable mlContentTableDefault" cellpadding="0" cellspacing="0" width="640">
  <tr>
    <td class="mlContentTableCardTd">
      <table align="center" bgcolor="#fffcf2" border="0" cellpadding="0" cellspacing="0" class="mlContentTable ml-default" style="width: 640px; min-width: 640px;" width="640">
        <tr>
          <td>
            <table role="presentation" cellpadding="0" cellspacing="0" border="0" align="center" width="640" style="width: 640px; min-width: 640px;" class="mlContentTable">
              <tr>
                <td height="10" class="spacingHeight-10" style="line-height: 10px; min-height: 10px;"></td>
              </tr>
            </table>
            <table role="presentation" cellpadding="0" cellspacing="0" border="0" align="center" width="640" style="width: 640px; min-width: 640px;" class="mlContentTable">
              <tr>
                <td align="center" style="padding: 0px 40px;" class="mlContentOuter">
                  <table role="presentation" cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
                    <tr>
                      <td class="bodyTitle" style="font-family: Helvetica, sans-serif; font-size: 14px; line-height: 125%; color: #2664F6;">
                        {{{ editorial.content }}}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <table role="presentation" cellpadding="0" cellspacing="0" border="0" align="center" width="640" style="width: 640px; min-width: 640px;" class="mlContentTable">
              <tr>
                <td height="20" class="spacingHeight-20" style="line-height: 20px; min-height: 20px;"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
